<div class="container1">
  <!--Contenedor de todo -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- Barra de navegación -->
    <img width="40" alt="Angular Logo"
      src="../assets/img/angularpropio.svg" />
      <!-- logo mio propio de angular -->
    <a class="navbar-brand" [routerLink]="">MirkoTech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarColor01">
      <ul class="navbar-nav mr-auto" *ngIf="identity">
        <li class="nav-item">
          <a class="nav-link" href="#"> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inicio']"><img width="36" src="../assets/img/inicio.svg" /> Inicio </a>
        </li>
        <li class="nav-item dropdown show">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><img width="36" src="../assets/img/categorias.svg" /> Categorías</a>
          <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
            <a class="dropdown-item" *ngFor="let category of categories" [routerLink]="['/inicio']">{{category.name}}</a>
          </div>
        </li>
        
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!identity">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']"><img width="36" src="../assets/img/login.svg"/> Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="espaciado" [routerLink]="['/registro']"><img width="36" src="../assets/img/registro.svg"/> Registro </a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right mx-sm-1" *ngIf="identity && identity.name">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="eldeluser" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">
            <img id="avatarNav" src="{{url + 'user/image/' + identity.image }}" />
            {{identity.name + ' ' + identity.surname}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/crearEntrada']"><img width="25" src="../assets/img/post.svg"/> Crear Entrada</a>
            <a class="dropdown-item" [routerLink]="['/crearCategoria']"><img width="25" src="../assets/img/categoria.svg"/> Crear Categoría</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><img width="25" src="../assets/img/profile.svg"/> Mi Perfil</a>
            <a class="dropdown-item" [routerLink]="['/ajustes']"><img width="25" src="../assets/img/ordenador.svg"/> Ajustes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/logout/1']"><img width="25" src="../assets/img/close.svg"/> Cerrar Sesión</a>
          </div>
        </li>
      </ul>
      <!-- FORMULARIO BUSCAR <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    </div>
  </nav> <!-- Cerramos barra de navegación -->

  <!-- CONTENIDO -->
  <!-- <login></login>
  <register></register> -->
  <router-outlet></router-outlet>

<footer id="footer">
  &copy; IES SanSebastián (21110) &copy; Mirko González Antón &copy; 
    <hr>  
  </footer>
</div> <!-- Cerramos Contenedor principal -->
