<div class="col-md-12 mt-3">
    <h1>{{ page_title }}</h1>
    <p *ngIf="status != 'success'">♦ Crea tu entrada ♦</p>
    <hr> <!-- separamos con HR  -->
  
    <!-- Alertas -->
    <div class="alert alert-success col-md-6" *ngIf="status == 'success'">
        ♦ Se ha enviado la entrada correctamente ♦
    </div>
  
    <div class="alert alert-danger col-md-6" *ngIf="status == 'error'">
      Algo ha fallado, prueba de nuevo ♥
  </div>
  
    <!-- Formulario Crear entrada -->
     <form class="col-md-6" #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
      <div class="form-group">
        <label for="title">Nombre:    </label>
        <input type="text" maxlength="24" name="title" class="form-control" #title="ngModel" [(ngModel)]="post.title" required>
        <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">  El título no es válido. </small>
      </div>

      <div class="form-group">
        <label for="content">Entrada:  </label>
        <textarea [froalaEditor]="options" id="biografia" maxlength="100" cols="3" rows="3"
        name="content" class="form-control" #content="ngModel" [(ngModel)]="post.content"> </textarea>
      </div>
  
      <div class="form-group">
        <label for="category_id">Categoría:    </label>
        <select name="category_id" class="form-control" #category_id="ngModel" [(ngModel)]="post.category_id" required>
            <option *ngFor="let category of categories" value="{{ category.id }}">
                    {{category.name}}
            </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="image">Imagen:  </label>
        <div>
          <img id="avatarEdit" src="" />
        </div>
  
        <angular-file-uploader [config]="afuConfig"
        (ApiResponse)="imageUpload($event)">
        </angular-file-uploader>
      </div>

      <input type="submit" id="btnedit" value="enviarEntrada" class="btn btn-success"
      [disabled]="postForm.invalid">
    </form><br/>
</div>